@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

:root {
  --primary: #2887ff;
  --primary-dark: #2476da;
}

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}
